<!DOCTYPE html>

<html lang="en">
<head>
    <title>About</title>

</head>
<center>
<body>
<style>

footer {
position:absolute;
bottom:0;
width: 20%;
right:0;
height:60px;   /* Height of the footer */
font-size:14px;
}
</style>
<img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Tahoe.JPG" width="600" height="400" />
<h1>Lake Tahoe</h1>

<p>Lake Tahoe is a large freshwater lake in the Sierra Nevada of the United States. Lying at 6,225 ft (1,897 m), it straddles the state line between California and Nevada, west of Carson City.  Lake Tahoe is the largest alpine lake in North America,[3] and at 122,160,280 acre.ft (150.7 km3) trails only the five Great Lekases the largest by volume in the United States. Its depth is 1,645 ft (501 m), making it the second deepest in the United States after Crater lake in Oregon.  Lake Tahoe is a major tourist attraction in both Nevada and California. It is home to winter sports, summer outdoor recreation, and scenery enjoyed throughout the year. Snow and ski resorts are a significant part of the area's economy and reputation.</p>
</center>
</body>

<footer>Created by:Maria Afzal</footer>
</html>